@import "tailwindcss";

@theme {
  --font-sans: 'Outfit', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@custom-variant dark (&:is(.dark *));

@layer base {
  body {
    @apply antialiased min-h-screen text-slate-800 bg-slate-50 dark:bg-slate-950 dark:text-slate-50 transition-colors duration-300;
  }
}

/* Custom Scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full dark:bg-slate-700;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400 dark:bg-slate-600;
}
